# Environment configurations file
APPLICATION_PORT = "3000"                                                       // Application port number
APPLICATION_ENV = "development"                                                 // Application running enviornment 

# Mongo DB Configuration
MONGODB_URL = "mongodb://localhost:27017/sl-prod"                               // Mongo DB URL

INTERNAL_ACCESS_TOKEN = "Fg*************yr"                                     // Internal access token for accessing Internal services APIs

# OFFLINE TOKEN VALIDATION
KEYCLOAK_PUBLIC_KEY_PATH = "keycloak-public-keys"                               // Path to Offline token public key

# ML Survey Service
ML_SURVEY_SERVICE_URL = "http://ml-survey-service:3000"                         // ML Survey service url

# ML Project Service Service
ML_PROJECT_SERVICE_URL = "http://ml-project-service:3000"                            // ML Project service url

#USER service
USER_SERVICE_URL = "http://user-service:3000"                                   // Base url of the sunbird enviornment

CSV_REPORTS_PATH = "public/report"                                              // Report path

APP_PORTAL_BASE_URL = "https://dev.sunbirded.org"

FORM_SERVICE_URL = "http://player:3000"                                         // Base url for form search

# KAFKA Configurations
KAFKA_COMMUNICATIONS_ON_OFF = "ON/OFF"                                               // Kafka enable or disable communication flag
KAFKA_URL = "100.0.0.1:9092"                                                 // IP address of kafka server with port without HTTP
KAFKA_GROUP_ID = "mlcore"                                                       // Kafka group id 
PROGRAM_USERS_JOINED_TOPIC = "dev.programuser.info"                              // Kafka submission topic for pushing program joined user's data

TIMEZONE_DIFFRENECE_BETWEEN_LOCAL_TIME_AND_UTC = +05:30                           //Time zone diffrenece between local and UTC

# Cloud storage configurations
CLOUD_STORAGE_PROVIDER = azure                                              // Provider for cloud storage (e.g., "azure", "aws", "gcp")
CLOUD_STORAGE_ACCOUNTNAME = bucketname                                      // Private storage account name
CLOUD_STORAGE_SECRET = 7xfCipY***tPTLwbVOkeL9f0NgA2frTxD1vnrTWpUxA==        // Secret key for private storage
CLOUD_STORAGE_BUCKETNAME = sample_bucket_name                               // Name of the private reports bucket
CLOUD_STORAGE_RESOURCEBUNDLE_BUCKETNAME = sample_name                       // Name of the private resource bundle bucket
CLOUD_STORAGE_REGION = "ap-south-1"                                         // CSP region
CLOUD_STORAGE_PROJECT = project_id                                          // CSP project Id
CLOUD_ENDPOINT = csp_endpoint                                               // CSP endpoint